.s-catalog__template {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto;
  width: 100%;
  padding: 0 20px 0 0;
  max-height: 800px;
  overflow-y: auto;
}

.s-catalog__template li {
  list-style: none;
  }
