.s-catalog__template {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto;
  width: 100%;
  padding: 0 20px 0 0;
  min-height: 1600px;
}

.s-catalog__template li {
  list-style: none;
  }
