@import url(./__address-logo/header__address-logo.css);
@import url(./__address/header__address.css);
@import url(./__phone-logo/header__phone-logo.css);
@import url(./__phone/header__phone.css);

.header {
  margin: 0 auto;
  display: flex;
  justify-content: right;
  max-width: 1174px;

}

.header__inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
