.slider__arrow-next {
  background-image: url(../../../images/down.png);
  bottom: 0;
}

.slider__arrow-prev,
.slider__arrow-next {
  background-size: 22px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 2;
}

.slider__arrow-prev:hover,
.slider__arrow-next:hover {
  opacity: 0.5;
  cursor: pointer;
}
