.s-catalog__pagination {
  height: 57px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.s-catalog__pagination-list ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  list-style: none;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 21px;
  color: #427e66;
  padding: 0;
}

.s-catalog__pagination-list li {
  margin-right: 20px;
}

.s-catalog__pagination-count p {
  font-family: "Manege Demo";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #427e66;
  margin: 0;
}

.s-catalog__pagination hr {
  color: #427e66;
  background-color: #427e66;
  height: 1px;
  width: 80%;
  margin: 0 20px;
}
