.slider__photo {
  justify-self: center;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}

.slider__photo img {
  height: 84px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slider__photo:hover {
  cursor: pointer;
}
