@import url(./vendor.css);
@import url(./normalize.css);

.body{
  background: #FDF6EC;
  font: 20px "Apercu Pro", Helvetica, Arial, sans-serif;
}


* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

.page {
  min-width: 320px;
  padding: 70px 245px;
}


.page__content {
  margin: 0 auto;
  overflow: hidden;
  min-height: 100vh;
}

.header {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: right;
padding: 20px;
}

.header__address {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__phone{
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 48px;
}


.header__address-logo {
  background: url(../images/geo.png) no-repeat;
  background-size: contain;
  height: 15px;
  width: 15px;

}

.header__phone-logo{
  background: url(../images/tel.png) no-repeat;
  min-height: 15px;
  background-size: contain;
  width: 15px;
}

.header p {
margin: 0 0 0 10px;
}
