@import url(./vendor.css);
@import url(./normalize.css);

.body {
  background: #fdf6ec;
  font: 20px "Apercu Pro", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

.page {
  min-width: 320px;
  padding: 70px 245px;
}

.page__content {
  margin: 0 auto;
  overflow: hidden;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 20px 0;
}

.header__address {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 48px;
}

.header__address-logo {
  background: url(../images/geo.png) no-repeat;
  background-size: contain;
  min-height: 15px;
  width: 15px;
}

.header__phone-logo {
  background: url(../images/tel.png) no-repeat;
  background-size: contain;
  min-height: 15px;
  width: 15px;
}

.header p {
  margin: 0 0 0 10px;
}

.logo {
  margin: 0 auto;
  padding: 40px 0;
  min-height: 150px;
}

.logo__img {
  background: url(../images/dk-logo.png) no-repeat;
  background-size: contain;
  height: 180px;
  max-width: 100%;
  margin: 0 auto;
}

.search {
  padding: 50px 0 48px;
  position: relative;
}

.search__bar {
  height: 51px;
  position: relative;
  margin: 0 auto;
  border-bottom-right-radius: 50px;
  border: 2px solid #427e66;
  border-top: none;
  border-left: none;
  padding: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 773px;
  position: relative;
}

.search__bar input {
  height: 50px;
  width: 85%;
  background-color: #fdf6ec;
  color: #9a9a9a;
  padding-left: 10px;
  outline: none;
  border: 0;
  border-radius: 50px;
  margin-bottom: 5px;
  position: relative;
}

.search__icon {
  background: url(../images/search.png) no-repeat;
  background-size: contain;
  height: 32px;
  width: 32px;
  margin-right: 13px;
}

.banner {
  margin: 0 auto;
  min-height: 600px;
}

.banner__img {
  background: url(../images/banner.png) no-repeat;
  background-size: contain;
  height: 586px;
  max-width: 1242px;
  margin: 0 auto;
}

.search__results {
  height: 598px;
  width: 773px;
  border-radius: 22px;
  z-index: 1;
  background-color: #FFFFFF;
  position: relative;
  margin: 8px auto 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.search__list {
  border: 1px solid green;
  margin: 0;
}

.search__item {
  padding: 15px 30px;
  border: 1px solid green;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search__item-image {
  background: url(../images/16.png);
  height: 106px;
  width: 69px;
  box-shadow: 0px 4px 4px 0px #00000040;


}

.search__item-texts {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  margin-right: 48px;
}

.search__item-autor {
  color: #9A9A9A;
  margin: 0 0 6px 0;

}

.search__item-name {
color: #427E66;
margin: 0;
}

.search__item-pricecontainer {
  border: 1px solid green;
  display: flex;
  flex-direction: column;

}

.search__item-price {
  font-family: 'Manege Demo';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 65px 0;
}

.search__item-availability {
  font-family: 'Manege Demo';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 13px;
  color: #427E66;
  margin: 0;
}

